
html,body{
	width: 100%;
	height: 100%;
	
}
.swiper-container{
	width: 100%;
	height: 100%;
}
.swiper-slide{
	width: 100%;
	height: 100%;
	position: relative;
}
img{
	width: 100%;
	height: 60%;
	margin-top: 3rem;
}
.imga{
	width: 10%;
	height: 6%;
	position: absolute;
	z-index: 3;
	right: 1rem;
	top: 1rem;
}
@keyframes name{
	0%{
		opacity: 0;
		font-size: 10rem;
		
	}
	20%{
		opacity: 0.5;
		font-size: 5rem;
		color: indianred;
	}
	50%{
		opacity: 1;
		font-size: 10rem;
	}
	70%{
		opacity: 0.5;
		font-size: 5rem;
	}
	100%{
		opacity: 0;
	}
}
@keyframes fn{
	from{
		opacity: 0.3;
	}
	to{
	  opacity: 0;	
	}
}
.div1{
	width: 100%;
	height: 100%;
    opacity: 0.3;
	background-color: crimson;
	position: absolute;
	animation: fn 1s 2s;
	-webkit-animation-fill-mode: forwards;
}
.xin{
	z-index: 1;
	position: absolute;
	font-size: 10rem;
	bottom: -6rem;
	left: 1.5rem;
	color: firebrick;
	opacity: 0;
	animation: name 2s;
}
.love{
	width: 100%;
	height: 21%;
	/*border: 1px solid red;*/
	position: absolute;
	top: -1rem;
	color: white;
	font-weight: bold;
    font-size: 1rem;
	left: 0;
	display: block;
	background-color: black;
	line-height: 200%;
}
.dibu{
	width: 100%;
	height: 23%;
/*	border: 1px solid red;*/
	position: absolute;
	bottom: -0.5rem;
	color: white;
	font-weight: bold;
    font-size: 0.5rem;
	left: 0;
	display: block;
	background-color: black;
	line-height: 400%;
	text-align: end;
}
.ani1{
	width: 100%;
	height: 17%;
	position: absolute;
	top: 0rem;
	font-size: 0.5rem;
	/*border: 1px solid black;*/
}
.ai{
	position: absolute;
	top: 1rem;
	left: 1.8rem;
	font-size: 0.7rem;
	font-weight: bold;
	color: cornflowerblue;
	background: black;
	opacity: 0.8;
	border: 1px solid black;
}
.xuehua{
	margin-left: 1.5rem;
	margin-top: -0.4rem;
	color: #0086B3; 
	font-size: 1rem;
}
.xuehua1{
	width: 100%;
	height: 23%;
	border: 1px solid black;
	position: absolute;
	bottom: 0rem;
	color: #0086B3;
	font-weight: bold;
    font-size: 0.5rem;
	left: 0;
	display: block;
	line-height: 400%;
	text-align: end;
}
@keyframes xuehua{
	0%{
		font-size: 1rem;
	}
	30%{
		font-size: 2rem;
	}
	60%{
		font-size: 3rem;
	}
	90%{
		font-size: 4rem;
	}
	100%{
		font-size: 5rem;
	}
}
@keyframes hua{
	0%{
		font-size: 1rem;
		opacity: 1;
	}
	30%{
		font-size: 2rem;
		opacity: 0.8;
	}
	60%{
		font-size: 3rem;
		opacity: 0.5;
	}
	90%{
		font-size: 4rem;
		opacity: 0.3;
	}
	100%{
		font-size: 5rem;
		opacity: 0;
	}
}
.ni{
	position: absolute;
	top: -3rem;
	left: 4rem;
	opacity: 0.4;
	font-size: 3rem;
	animation: xuehua;
}
.ni2{
	position: absolute;
	top: -3rem;
	left: 7rem;
	opacity: 0.4;
	font-size: 5rem;
	animation: xuehua;
}
.kelong{
	font-size: 2rem;
	animation: hua;
	opacity: 0.4;
}
.aa{
	position: absolute;
}
.cc{
	position: absolute;
	top: -4rem;
	color: forestgreen;
	font-size: 3rem;
	opacity: 0.7;
}
.bb{
	/*position: absolute;*/
	width: 100%;
	/*left: 2rem;
	top: 3rem;*/
	font-size: 0.5rem;
}
.a3{
	font-size: 2rem;
	font-weight: bold;
	align-content: center;
}
